- ## Enter some variables to set up your Premiere

- # Enter your Heroku domain (without http://)
- domain = "0.0.0.0:4567"
- if domain != ""
  - url = "http://" + domain

- # If using Like to unlock, enter your Fb App ID here
- fb_app = "204738366205341"

- # Enter the url to your SoundCloud set
- sc_album = "http://soundcloud.com/mark/sets/life-death-love-friendship"

- # Enter a preformatted Twitter message
- twitter_message = "Visit [link] to unlock the full stream of @FooFighters's new record #WastingLight."

- # Enter the buy link of your album, leave empty if none
- buy_link = "http://www.smarturl.it/fooswlpreorder"

- # Enter your Google Analytics ID
- ga_ID = "UA-27145094-1"

!!!
%html
  %head

    %title SoundCloud Premiere

    %meta{:name => "viewport", :content => "width=800,user-scalable=no"}

    - # (1) Adjust the following meta data which will be passed to Facebook when clicking the Like button
    - # Making sure to edit the url in the 'og:video' property
    - # And adjusting to include a new Facebook app ID in the 'fb:app_id' property

    %meta{:property => "og:title",        :content => "Premiere"}
    %meta{:property => "og:description",  :content => 'The first listen, powered by SoundCloud.'}
    %meta{:property => "og:type",         :content => "album"}
    %meta{:property => "og:image",        :content => "#{url}/images/artwork.jpg"}
    %meta{:property => "og:url",          :content => "#{url}"}
    %meta{:property => "og:site_name",    :content => "SoundCloud"}
    %meta{:property => "og:video",        :content => "http://player.soundcloud.com/player.swf?url=#{sc_album}&color=000000&auto_play=true&player_type=artwork"}
    %meta{:property => "og:video:height", :content => "425"}
    %meta{:property => "og:video:width",  :content => "425"}
    %meta{:property => "og:video:type",   :content => "application/x-shockwave-flash"}
    %meta{:property => "fb:app_id",       :content => "#{fb_app}"}

    :javascript
      var url               = "#{sc_album}",
          soundmanager_url  = "/swfs/",
          tab               = true,
          _gaq              = [['_setAccount', '#{ga_ID}'], ['_trackPageview']];
      _gaq.push(['_trackPageview']);

    - # (2) Expert: This adds the javascript variables needed to perform a Social to Unlock.
    - if defined?(lock) && lock

      - # (2.5) Social to Unlock
      - if request.request_method == "GET"

        - # Variables needed to perform Twitter Tweet to Unlock
        :javascript
          var lock      = "twitter",
              message   = "#{twitter_message}",
              logged_in = #{!session[:user].nil?},
              unlocked  = #{!session[:unlocked].nil?};

      - else

        - # Variables needed to perform Facebook Like to Unlock
        :javascript
          var lock     = "facebook",
              unlocked = #{@signed_request['page']['liked']};

    - # (3) Include both stylesheets
    - # Add your custom css in the provided area below or simply locally adjust theme.css accordingly
    - # For rapid theme development, check the theme.scss file provided [here](https://github.com/soundcloud/soundcloud-premiere/blob/master/public/stylesheets/sass/theme.scss):
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/theme.css"}

  %body

    - # (4) Be sure to edit the links and share widgets within
    .footer
      .share
        %div{:class => "fb-like",              :data => {:send => false, :layout => "button_count", :width => 95}}
        %a{  :class => "twitter-share-button", :data => {:count => "horizontal"}} Tweet
        %div{:class => "g-plusone",            :data => {:size => "medium"}}

      .links
        - if buy_link != ""
          %a{:href => "#{buy_link}", :target => "_blank"} Buy it Now

      .logo
        %a{:href => "http://soundcloud.com", :target => "_blank"} &nbsp;

    #fb-root

    %script{:src => "#{url}/js/jquery.min.js"}
    %script{:src => "#{url}/js/soundmanager2.js"}
    %script{:src => "#{url}/js/jquery.jscrollpane.min.js"}
    %script{:src => "#{url}/js/jquery.mousewheel.js"}
    %script{:src => "#{url}/js/modernizr.js"}
    %script{:src => "#{url}/js/jquery.color.min.js"}
    %script{:src => "#{url}/js/application.js"}

